{{#d-section pageClass="about"}}
  <div class='container'>
    <div class='contents clearfix body-page'>

      <ul class="nav-pills">
        <li class="nav-item-about">{{#link-to 'about' class="active"}}{{i18n 'about.simple_title'}}{{/link-to}}</li>
        {{#if faqOverriden}}
          <li class="nav-item-guidelines">{{#link-to 'guidelines'}}{{i18n 'guidelines'}}{{/link-to}}</li>
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{else}}
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{/if}}
        <li class="nav-item-tos">{{#link-to 'tos'}}{{i18n 'terms_of_service'}}{{/link-to}}</li>
        <li class="nav-item-privacy">{{#link-to 'privacy'}}{{i18n 'privacy'}}{{/link-to}}</li>
      </ul>

      <section class='about description'>
        <h2>{{i18n 'about.title' title=model.title}}</h2>
        <p>{{model.description}}</p>
      </section>

      {{#if model.admins}}
        <section class='about'>
          <h3>{{d-icon "star"}} {{i18n 'about.our_admins'}}</h3>

          {{#each model.admins as |a|}}
            {{user-info user=a}}
          {{/each}}
          <div class='clearfix'></div>

        </section>
      {{/if}}

      {{#if model.moderators}}
        <section class='about'>
          <h3>{{d-icon "gavel"}} {{i18n 'about.our_moderators'}}</h3>

          <div class='users'>
            {{#each model.moderators as |m|}}
              {{user-info user=m}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

      {{#if model.bss}}
        <section class='about'>
          <h3>{{d-icon "bolt"}} {{i18n 'about.our_bss'}}</h3>

          <div class='users'>
            {{#each model.bss as |b|}}
              {{user-info user=b}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

      {{#if model.developers}}
        <section class='about'>
          <h3>{{d-icon "code"}} {{i18n 'about.our_developers'}}</h3>

          <div class='users'>
            {{#each model.developers as |d|}}
              {{user-info user=d}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

      {{#if model.discord_staff}}
        <section class='about'>
          <h3>{{d-icon "comments"}} {{i18n 'about.our_discord_staff'}}</h3>

          <div class='users'>
            {{#each model.discord_staff as |d|}}
              {{user-info user=d}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

      {{#if model.social_media}}
        <section class='about'>
          <h3>{{d-icon "microphone"}} {{i18n 'about.our_social_media'}}</h3>

          <div class='users'>
            {{#each model.social_media as |s|}}
              {{user-info user=s}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

      {{#if model.zine_staff}}
        <section class='about'>
          <h3>{{d-icon "pencil"}} {{i18n 'about.our_zine_staff'}}</h3>

          <div class='users'>
            {{#each model.zine_staff as |z|}}
              {{user-info user=z}}
            {{/each}}
          </div>
          <div class='clearfix'></div>
        </section>
      {{/if}}

      {{#if contactInfo}}
        <section class='about contact'>
            <h3>{{d-icon "envelope-o"}} {{i18n 'about.contact'}}</h3>
            <p>{{{contactInfo}}}</p>
        </section>
      {{/if}}

    </div>
  </div>
{{/d-section}}