{{#d-section pageClass="about"}}
  <div class='container'>
    <div class='contents clearfix body-page'>

      <ul class="nav-pills">
        <li class="nav-item-about">{{#link-to 'about' class="active"}}{{i18n 'about.simple_title'}}{{/link-to}}</li>
        {{#if faqOverriden}}
          <li class="nav-item-guidelines">{{#link-to 'guidelines'}}{{i18n 'guidelines'}}{{/link-to}}</li>
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{else}}
          <li class="nav-item-faq">{{#link-to 'faq'}}{{i18n 'faq'}}{{/link-to}}</li>
        {{/if}}
        <li class="nav-item-tos">{{#link-to 'tos'}}{{i18n 'terms_of_service'}}{{/link-to}}</li>
        <li class="nav-item-privacy">{{#link-to 'privacy'}}{{i18n 'privacy'}}{{/link-to}}</li>
      </ul>

      <section class='about description'>
        <h2>{{i18n 'about.title' title=model.title}}</h2>
        <p>{{model.description}}</p>
      </section>

      {{#if model.groups}}
        {{#each model.groups as |group|}}
          <section class='about {{group.name}}'>
            <h3>
              <span style="font-style: italic; color: #{{group.flair_bg_color}}">
                <i class='fa {{group.flair_url}}'></i> 
                {{group.user_count}}
              </span>
              {{group.full_name}}
            </h3>
            {{#each group.users as |u|}}
              {{user-info user=u}}
            {{/each}}
            <div class='clearfix'></div>
          </section>
        {{/each}}
      {{/if}}

      {{#if contactInfo}}
        <section class='about contact'>
            <h3>{{d-icon "envelope-o"}} {{i18n 'about.contact'}}</h3>
            <p>{{{contactInfo}}}</p>
        </section>
      {{/if}}

    </div>
  </div>
{{/d-section}}