{{#if categories}}
  <table class="category-list">
    <tbody aria-labelledby="categories-only-category">
      <tr data-category-id="-1" class="has-description no-logo">
        <td class="category">
          <div>
            <h3 class="ember-view">
              <a href="https://discord.gg/5PMNdKX">
                <div class="category-text-title">
                  <span class="category-name">
                    {{i18n 'pseudo_categories.discord.title'}}
                  </span>
                </div>
              </a>
            </h3>

            <div class="category-description">
              {{i18n 'pseudo_categories.discord.description'}}
            </div>
            <div class="clearfix"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="category-list {{if showTopics 'with-topics'}}">
    <thead>
      <tr>
        <th class="category"><span aria-role="heading" aria-level="2" id="categories-only-category">{{i18n 'categories.category'}}</span></th>
        {{#if showTopics}}
          <th class="latest">{{i18n 'categories.latest'}}</th>
        {{/if}}
      </tr>
    </thead>
    <tbody aria-labelledby="categories-only-category">
      {{#each categories as |c|}}
        <tr data-category-id={{c.id}} class="{{if c.description_excerpt 'has-description' 'no-description'}} {{if c.uploaded_logo.url 'has-logo' 'no-logo'}}">
          <td class="category" style={{border-color c.color}}>
            <div>
              {{category-title-link category=c}}
              <div class="category-description">
                {{{dir-span c.description_excerpt}}}
              </div>
              <div class="clearfix"></div>
            </div>
            {{#if c.subcategories}}
              <div class='subcategories'>
                {{#each c.subcategories as |s|}}
                  <span class='subcategory'>
                    {{category-title-before category=s}}
                    {{category-link s hideParent="true"}}
                    {{category-unread category=s}}
                  </span>
                {{/each}}
              </div>
            {{/if}}
          </td>
          {{#if showTopics}}
            <td class="latest">
              {{#each c.featuredTopics as |t|}}
                {{featured-topic topic=t latestTopicOnly=latestTopicOnly}}
              {{/each}}
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}